<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <link href='https://css.gg/profile.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/wheelspin_assets/wheelspin_styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='/wheelspin_assets/wheelspin.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js"></script>
    <script src="https://raw.githubusercontent.com/JohnLuCN/javascript-winwheel/master/Winwheel.min.js"></script>

    <title>SOSABot</title>
</head>

<body>

    <div class="wheel-container">
        <canvas id='spinwheel' width='880' height='300'>
        </canvas>
        <script>
            $(document).ready(function () {
                let wheel = new Winwheel({
                    'canvasId': 'spinwheel',
                    'numSegments': 12,
                    'fillStyle': '#eae56f',
                    'textFontSize': 24,
                    'textOrientation': 'vertical',
                    'textAlignment': 'outer',
                    'lineWidth': 2
                });
            });
        </script>
    </div>
    </div>

</body>

</html>


<div class="footer_script">
    {% include 'footer_script.html' %}
</div>

<script>

    $(document).ready(function () {
        var socket = io();
        socket.on('connect', function () {
            socket.emit('message',
                {
                    'data': '{{ user.name }}#{{ user.discriminator }} Connected'
                }
            );
        });


        socket.on('message', function (msg) {
            console.log(msg);
        });
    });

</script>